<link rel="stylesheet" class="aplayer-secondary-style-marker" href="/assets/css/APlayer.min.css"><script src="/assets/js/APlayer.min.js" class="aplayer-secondary-script-marker"></script>@font-face {
    font-family:'liuFont';
    src:url('../liuFont.ttf');
    font-display:swap
}
h1#site-title {
    font-family:liuFont!important
}
span#subtitle {
    font-family:liuFont!important
}
a#site-name {
    font-family:liuFont!important
}